#competence{
  width: 80%;
  margin: auto;
  margin-top: -110px;
  border-radius: 50px;
  padding-bottom: 50px;
}

.card-container{
  border-radius: 200px;
  margin-bottom: 20px;
}

.competence-card{
  height: 100%;
  align-self: start;
}
